.gitignore
.DS_Store
shapefiles/RVCA/RVCA_WaterbodySHP
Model_Disaster_Response/large_study_area/canvec_50K_ON_Elevation_shp.zip
Model_Disaster_Response/large_study_area/canvec_50K_ON_Elevation_shp
Model_Disaster_Response/large_study_area/ottawa_dem_031G
Model_Disaster_Response/large_study_area/cdem_dem_031G_tif.zip
Model_Disaster_Response/canvec_50K_ON_Elevation_shp
shapefiles/OttawaBuildings
shapefiles/OC_ROUTES_VERTICES
GeoDa_Work/shapefiles/BuildingCentroids.cpg
GeoDa_Work/shapefiles/BuildingCentroids.dbf
GeoDa_Work/shapefiles/BuildingCentroids.prj
GeoDa_Work/shapefiles/BuildingCentroids.qpj
GeoDa_Work/shapefiles/BuildingCentroids.shp
GeoDa_Work/shapefiles/BuildingCentroids.shx
GeoDa_Work/ward_study/shapefiles/BuildingCentroids.cpg
GeoDa_Work/ward_study/shapefiles/BuildingCentroids.dbf
GeoDa_Work/ward_study/shapefiles/BuildingCentroids.prj
GeoDa_Work/ward_study/shapefiles/BuildingCentroids.qpj
GeoDa_Work/ward_study/shapefiles/BuildingCentroids.shp
GeoDa_Work/ward_study/shapefiles/BuildingCentroids.shx
